
.backgroundcolor{
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
    box-shadow: 1px 1px 1px black}

.selection{
   
    margin: 1rem; 
   display: inline-block;
}
.right{
   margin-left: 17rem; 
   
}
.left{
    font-weight: 500;
    padding-left: 1rem;
}
.buttons{
    padding-left: 2rem;
    word-spacing: 2rem;
   
}
